*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}


:root {
    --header-height: 7.2rem;
  
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);

    --font-DM: 'DM Sans', sans-serif;
    --font-Poppins:'Poppins', sans-serif;
      font-size: 62.5%;

      /* Fonts */
      --title-font-size:3rem;
      --subtitle-font-size:1.6rem;
  }

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  background-color: var(--body-color);
  color: var(--text-color);
  --webkit-font-smoothing: antialiased;
}

.title{
  font-size: var(--title-font-size) ;
  font-weight: 700;
  font-family: var(--font-Poppins);
  color: var(--title-color);
}

.button{
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 5.6rem;
  display: inline-flex;
  align-items: center;
  padding: 0 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--font-DM);
  border-radius: 4px;
  transition: 0.3s;
}

.button:hover{
  background-color: var(--base-color-alt);
}

.section{
  padding:calc(8rem + var(--header-height)) 0;
}

.section header {
  margin-bottom: 6.4rem;
}

.section header strong{
  color: var(--base-color);
}

.section .title {
  margin-bottom: 1.6rem;
}

.section .subtitle{
  font-size: var(--subtitle-font-size);
}

.divider-1{
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2{
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

#header{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 3.2rem;
  display: flex;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
}

#header.scroll{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}
/*===  Logo ============================ */
.logo{
  font-size: 2.1rem;
  font-weight: 700;
  font-family: var(--font-Poppins);
  color: var(--title-color);
}

.logo span{
  color: var(--base-color);
}

.logo-alt span{
  color: var(--text-color-light)  ;
}

/*===  Layout ============================ */
.container {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.grid{
  display: grid;
  gap: 3.2rem;
}

/*===  NAV ============================ */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  width: 100%;
}

nav ul li{
  text-align: center;
}

nav ul li a{
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover{
  color:var(--base-color);
}

nav ul li a::after{
  content: "";
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -2.5rem;
}

nav ul li a:hover::after{
  width: 100%;
  transition: width 0.3s;
}

nav .menu ul{
  display: none;
}

nav .menu{
  opacity: 0;
  visibility: hidden;
  top: -32rem;
  transition: 0.2s;
}


/*=== Mostrar menu ============================ */

nav.show .menu{
  opacity: 1;
  visibility: visible;

  width: 100vw;
  background-color: var(--body-color);
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul{
  display: grid;
}

nav.show .menu ul.grid{
  gap: 3.4rem;
}

/*=== TOGGLE ============================ */

.toggle{
  cursor: pointer;
  font-size: 2.4rem;
  color: var(--base-color);
}

nav .icon-close{
  visibility: hidden;
  opacity: 0;
  font-size: 2.4rem;
  position: absolute;
  top: -2.4rem;
  right: 2.4rem;
  transition: 0.2s;
}

nav.show i.icon-close{
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 2.4rem;
}

/*===  HOME ============================ */
#home {
  overflow: hidden;
}

#home .container {
  margin: 0;
}

#home .image {
  position: relative;
}

#home .image::before {
  content: '';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%;
  left: 16.7%;
  z-index: 0;
}

#home .image img {
  position: relative;
  right: 2.93rem;
}

#home .image img,
#home .image::before {
  border-radius: 0.25rem;
}

#home .text {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .text h1 {
  margin-bottom: 1rem;
}

#home .text p {
  margin-bottom: 2rem;
}
/*===  Sobre ============================ */
#about {
  overflow: hidden;
  background-color: white;
}


#about .container {
  margin: 0;
}

#about .text{
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

#about .image{
  position: relative;
}


#about .text p{
  font-family: var(--font-DM);
}

#about .image img,
#about .image::before{
  border-radius: 0.4rem;
}

#about .image img{
  position: relative;
}

#about .image::before{
  content: "";
  width: 100%;
  height:100%;
  position: absolute;
  top: -8.3%;
  left: -33%;
  background:var(--base-color-second);
}

/*=== SERVICES ============================ */

.cards.grid{
  gap: 2.4rem;
}

.card{
  padding: 5.8rem 3.2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 4px solid var(--base-color);
  border-radius: 4px 4px 0 0;
  text-align: center;
}

.card .title{
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.container header p{
  color: var(--title-color);
}

.card i{
  display: block;
  font-size: 8rem;
  color: var(--base-color);
  margin-bottom: 2.4rem;
}
/*=== TESTIMONIALS ============================ */

#testimonials{
  background: white;
}

#testimonials .container{
  margin-left: 0;
  margin-right: 0;
}

#testimonials header{
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  margin-bottom: 0;
}

#testimonials blockquote{
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  padding: 3.2rem;
}

#testimonials blockquote p span{
  color: var(--base-color);
  font-family: serif;
  font-size: 4.8rem;
  position: absolute;
  top: -0.8rem;
  left: -2.5rem;
}

#testimonials blockquote p{
  color: var(--title-color);
  font-family: var(--font-DM);
  margin-bottom: 2.4rem;
  text-indent: 2.5rem;
  position: relative;
}

#testimonials cite{
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: normal;
  text-align: center;
}

#testimonials cite img{
  width: 3.2rem;
  height: 3.2rem;
  clip-path: circle();
  object-fit: cover;
}

/*=== SWIPER ============================ */
.swiper-slide{
  height: auto;
  padding: 6.4rem 1rem;
}

.swiper-pagination-bullet{
  width: 1rem;
  height: 1rem;
}

.swiper-pagination-bullet-active{
  background-color: var(--base-color);
}

/*=== Contact ============================ */
#contact .grid{
  gap: 6.4rem;
}

#contact p{
  margin-bottom: 3.2rem;
}

#contact .button i,
#contact ul li i{
  font-size: 2.4rem;
  margin-right: 1rem;
}

#contact ul.grid{
  gap: 3.2rem;
}

#contact ul li i {
  color: var(--base-color);
}

#contact ul li{
  display: flex;
  align-items: center;
}

/*=== Footer ============================ */
footer{
  background: var(--base-color);
}

footer.section{
  padding: 6.4rem 0;
}

footer .logo{
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .brand p{
  color: var(--text-color-light);
  margin-bottom: 1.2rem;
}

footer i{
  font-size: 2.4rem;
  color: var(--text-color-light);
}

footer .social a{
  margin-right: 3.2rem;
  transition: 0.3s;
  display: inline-block;
}

/* .socil com grid */

/* footer .social{
  grid-auto-flow: column;
  width: fit-content;
} */

footer .social a:hover{
  transform: translateY(-8px);
}

/* Back to top */
.back-to-top{
  background-color: var(--base-color);
  color: var(--text-color-light);
  clip-path: circle();
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2.4rem;
  padding: 0.8rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show{
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
  transform: translateY(0%);
}


/*========= MEDIA QUERIES =========*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  main {
    margin-top:var(--header-height);
  }

  .container{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  } 

  .section{
    padding: 16rem 0;
  }

  .section header,
  #testimonials header{
    max-width: 52.3rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button{
    height: 5rem;
  }

  nav .menu{
    opacity: 1;
    visibility: visible;
    top: 0rem;
  }

  nav .menu ul{
    display: flex;
    gap: 3.2rem;
  }

  nav ul li a.title{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: var(--font-DM);
    -webkit-font-smoothing: antialiased;
  }

   nav  ul li a.active{
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-menu{
    display: none;
  }

  #home .container{
    grid-auto-flow: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  #home .image{
    width: 59.1rem;
    order: 1;
  }

  #home .text{
    order: 0;
    max-width: 39.6rem;
    text-align: left;
  }

  #about .container{
    margin: 0 auto;
    grid-auto-flow: column ;
  }

  .cards{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card{
    padding-left: 4.8rem;
    padding-right: 4.8rem;
  }

  #testimonials .container{
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container{
    grid-auto-flow: column;
    align-items: center;
  }

  #contact .text{
    max-width: 35.4rem;
  }

  footer .container{
    grid-auto-flow: column; 
    align-items: center;
    justify-content: space-between;
  }

  footer .logo{
    font-size: 3.2rem;
  }

  footer .section{
    padding:6rem 0;
  }
}
/* large devices: 1023 > */
/* large devices: 992 > */
:root{
  --title-font-size:3.2rem;
  --subtitle-font-size:1.6rem;
}
/* medium devices: 767 > */