*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}


:root {
    --header-height: 7.2rem;
  
    /* colors */
    --hue: 159;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);

    --font-DM: 'DM Sans', sans-serif;
    --font-Poppins:'Poppins', sans-serif;

    font-size: 62.5%;
  }
  

/*===  BASE ============================ */
body {
  font-size: 1.6rem;
  background-color: var(--body-color)
}

.title{
  font-size: 3.1rem;
  font-weight: 700;
  font-family: var(--font-Poppins);
  color: var(--title-color);
}

.button{
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 5.6rem;
  display: inline-flex;
  align-items: center;
  padding: 0 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: var(--font-DM);
  border-radius: 4px;
  transition: 0.3s;
}

.button:hover{
  background-color: var(--base-color-alt);
}

.section .title {
  margin-bottom: 1.6rem;
}

/*===  Logo ============================ */
.logo{
  font-size: 2.1rem;
  font-weight: 700;
  font-family: var(--font-Poppins);
  color: var(--title-color);
}

.logo span{
  color: var(--base-color);
}

/*===  Layout ============================ */
.container {
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.grid{
  display: grid;
  gap: 3.2rem;
}

/*===  NAV ============================ */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

/*===  HOME ============================ */

.toggle{
  cursor: pointer;
  font-size: 2.4rem;
  color: var(--base-color);
}

/*===  HOME ============================ */

#home .container {
  margin: 0;
}

#home .text{
  margin-left: 2.4rem;
  margin-right: 2.4rem;
  text-align: center;
}

#home .text p{
  font-family: var(--font-DM);
  color: var(--text-color);
  margin-bottom: 3.2rem;
}